:root{
    --azul:#1b2838;
    --branco:white;
    --preto:#171a21;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--azul);
}
header{
    width:100%;
    font-family: 'Roboto Mono', monospace;
    color: var(--branco);
    background-color: var(--preto);
}
.navegacao{
    background-color: var(--azul);
    color: yellow;
}
.titulo{
    margin:1%; 
    color: red; 
}
.navlinks{
    color:white;
    text-decoration: none;
}
.containermajor{
    display: flex;
    align-items: center;
    /*padding: 1%;*/

}
.steamlogo{
    margin:1%;
    border-radius: 50%;
    height: 50px;
    width: 60px;
}
.container1{
    height: 400px;
    color: white;
    z-index:0;
}
.mainVideo{
    object-fit:cover;
}
.titulo1{
    position:absolute;
    top: 200px;
    left:50px;
    z-index:1;
    font-size: 50px;
}
.desc1{
    margin-top:10px ;
    position:absolute;
    top: 250px;
    left:50px;
    z-index:1;
    font-size: 15px; 
    width:300px;
}
.jogue1{
    margin-top:10px ;
    position:absolute;
    top: 370px;
    left:50px;
    z-index:1;
    font-size: 15px; 
    width:140px;
    height: 40px;
}
.moreinfo{
    margin-top:10px ;
    position:absolute;
    top: 370px;
    left:200px;
    z-index:1;
    font-size: 15px; 
    width:140px;
    height:40px;
}
.titulo2{
    margin-top: 200px;
    margin-left: 50px;
    position: relative;
    color: white;
}
.imgjogo{
    margin: 0px;
    padding: 0px;
    width:100% ;
    height:100% ;
    transition: transform 450ms;
}
.imgjogo:hover{
    transform: scale(1.1);
    opacity: 1;
}
